.card {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 550px;
  margin: 0.5rem;
}

.salutation {
  grid-column-start: 2;
  grid-column-end: span 2;
  text-align: center;
}

.name, .job {
  display: inline;
}

.location {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
  text-align: center;
}

.details {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: span 2;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
